<div id="searchSuggestionsButtonsContainer">

	<p class="searchSuggestionsButton" id="searchExactTerm" ng-if="searchText.length > 2" ng-click="doSearch(searchText, false)">Buscar "{{searchText}}"</p>

	<h4 class="infoText" ng-if="searchText.length < 2 || searchText.length == undefined">
		Comenzá escribiendo en la barra de arriba el producto o servicio que estés necesitando o busca por rubros en la lista que está debajo.
	</h4>

	<div id="searchSuggestionsButtonsContainer">
		<p></p>

		<div ng-repeat="categoria in dataUtilities.clientes.categoriasConArticulos | filter: {articulos: searchText} | orderBy:['!articulos','nombre']">
			<h4 class="suggestionsHeader" ng-bind="categoria.nombre"></h4>

			<div class="searchSuggestionsButton main" ng-repeat="cliente in categoria.articulos | filter: searchText | orderBy" ng-click="doSearch(cliente)">
				<h4 class="searchSuggestionsText" ng-bind="cliente"></h4>
			</div>
		</div>
	</div>

	<h3 class="suggestionsHeader" ng-if="searchText.length >= 2">Sugerencias:</h3>

	<div class="searchSuggestionsButton main" ng-repeat="categoria in dataUtilities.productos.categoriasConArticulos | filter: {nombre: searchText} | orderBy:['!articulos','nombre']" ng-click="doSearch(categoria.nombre)" ng-if="searchText.length >= 2">
		<h4 class="searchSuggestionsText" ng-bind="categoria.nombre"></h4>
	</div>

	<div class="searchSuggestionsButton" ng-repeat="categoria in dataUtilities.productos.categoriasConArticulos | filter: {articulos: searchText} | orderBy:['!articulos','nombre']" ng-click="doSearch(categoria.nombre)" ng-if="searchText.length >= 2">
		<h4 class="searchSuggestionsText" ng-bind="categoria.nombre"></h4>
	</div>

</div>